#index {
   header {
      max-height: 768px;
      .wrapper {
         padding-top: 88px;
         @include rwd(sm) {
            flex-direction: column;
         }

         .introduce,
         .home-img {
            width: 100%;
            @include rwd(2xs) {
               margin-top: 0;
               padding-top: 0;
               width: 100%;
            }
         }
      }
      h1 {
         line-height: 4rem;

         @include rwd(lg) {
            @include font-size(3xl);
         }

         @include rwd(sm) {
            font-size: 3rem;
            line-height: 4rem;
         }
      }

      .page-bg {
         background-image: url(../img/bg_home.svg);
         width: 60%;

         @include rwd(sm) {
            background-image: url(../img/bg_home_sm.svg);
            width: 100%;
            background-position: bottom center;
            background-origin: content-box;
            padding: 0 1.5rem;
         }
      }
   }
   .content {
      margin-bottom: 100px;
      @include rwd(sm) {
         margin-bottom: 30px;
      }
      h2 {
         text-align: center;
         margin-bottom: 3rem;
      }
   }

   main {
      .community {
         &::before {
            content: "";
            background-image: url(../img/ball01.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 126px;
            height: 126px;
            position: absolute;
            left: 0;
            background-position: top left;
            transform: translateX(-50%) translateY(-60%) rotate(180deg);
            z-index: -1;
            @include rwd(sm) {
               transform: translateX(-50%) translateY(20%) rotate(180deg);
            }
         }
         .community-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 33.3%;
               padding: 1rem;
               @include rwd(md) {
                  width: 100%;
               }
            }
            h3 {
               flex: 0 1 auto;
               text-align: center;
            }
            img {
               width: 5rem;
               margin-bottom: 1.5rem;
            }
            p {
               color: $color-black-700;
               text-align: center;
            }
         }
      }
      .serve {
         h2,
         h4 {
            text-align: center;
         }
         .serve-list {
            margin-top: 3rem;
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(4, 25%);
            gap: 1.5rem;
            @include rwd(lg) {
               grid-template-columns: repeat(2, 50%);
            }
            @include rwd(sm) {
               grid-template-columns: repeat(1, 100%);
            }
            li {
               border-radius: 12px;
               box-shadow: 0px 2px 10px #00000014;
            }
            img {
               max-width: 100%;
               border-radius: 12px 12px 0 0;
            }
            h5 {
               color: $colors-primary;
               margin-top: 1rem;
               text-align: center;
            }
            p {
               text-align: center;
               padding: 1rem;
            }
         }
      }
      .feature {
         display: flex;
         flex-direction: row-reverse;
         @include rwd(lg) {
            flex-direction: column;
         }
         .feature-list,
         .feature-description {
            width: 50%;
            @include rwd(lg) {
               width: 100%;
            }
         }
         .feature-list {
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(2, auto);
            gap: 2rem;
            column-gap: 3rem;
            .feature-img {
               width: 86px;
               height: 86px;
               padding: 1.4rem;
               box-shadow: 0px 2px 10px #00000014;
               border-radius: 50%;
            }
            img {
               width: 100%;
            }
            li {
               padding: 1.5rem;
               box-shadow: 0px 2px 10px #00000014;
               border-radius: 12px;
            }
            h4 {
               font-weight: bold;
               margin: 1rem 0;
            }
         }
         .feature-description {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 1rem;
            @include rwd(lg) {
               align-items: center;
            }

            h2 {
               line-height: 3rem;
               text-align: left;
               width: 100%;
               @include rwd(lg) {
                  text-align: center;
               }
            }
            p {
               @include rwd(lg) {
                  width: 100%;
                  text-align: center;
               }
            }
         }
      }
      .comment {
         &::before {
            content: "";
            background-image: url(../img/ball03.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 150px;
            height: 150px;
            position: absolute;
            background-position: top left;
            transform: translateX(-50%) translateY(50%) rotate(180deg);
            z-index: -1;
         }
         .comment-overflow {
            overflow: hidden;
         }
         .comment-lsit {
            padding-top: 5rem;
            padding-bottom: 1rem;
            display: flex;
            transition: transform 500ms ease 0s;
            .comment-card {
               width: 100%;
               position: relative;
               height: 100%;
               padding-right: 16px;
            }
            img {
               border-radius: 50%;
               width: 80px;
               height: 80px;
               position: absolute;
               top: -60px;
               left: 2rem;
               background-color: $color-black-0;
            }

            .comment-content {
               box-shadow: 0px 2px 10px #00000014;
               background-color: $color-black-0;
               border-radius: 12px;
               padding: 2rem 2rem 1.5rem;
               height: 100%;
               display: flex;
               flex-direction: column;
            }
            p,
            span {
               color: $color-black-900;
            }
            p {
               padding: 1rem 0;
               margin-bottom: auto;
            }
            h5 {
               border-top: 1px solid $color-black-500;
               padding: 1rem 0;
            }
            .comment-score {
               display: flex;
               justify-content: space-between;
            }
         }
         .slick-dots {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            .dots-check {
               width: 10px;
               height: 10px;
               border-radius: 50px;
               background-color: $color-black-500;
               cursor: pointer;
            }
            .dots-active {
               width: 16px;
               background-color: $colors-tertiary;
            }
         }
      }
      .footer-bg {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 5rem;
         row-gap: 2rem;
         background-image: url(../img/home_footer.svg);
         background-size: auto;
         background-repeat: no-repeat;
         background-position: center 0;
         width: 100%;
         height: 500px;
         padding-top: 250px;
         @include rwd(2xs) {
            background-image: url(../img/footer_sm.svg);
         }
      }
   }
}
